

.Footer{
    padding: 200px 0 0;
    width: 100vw;

    display: flex; flex-direction: column;

    & img.logo{
        width: 100%;
        opacity: 0.1;
        padding: 0 4px;
    }

    & .text-block{
        display: flex; justify-content: space-between;
        padding: 0 calc(var(--padding) + (var(--padding) / 2));

        & .titel{ font-size: var(--txt-titel); color: black;}

        & .infos-container{
            display: flex; gap: calc(var(--gap) * 3);

            & .info-column{
                display: flex; flex-direction: column; gap: calc(var(--gap) * 1);

                & a{
                    display: flex; flex-direction: column;

                    & div{
                        display: flex;
                        align-items: center;
                        gap: calc(var(--gap) / 3);

                        & img{
                            height: calc(var(--txt-text) / 1.5);
                            width: auto;
                        }
                    }
                }

                & .bold{color: black; font-weight: 500;}
            }
        }
    }
}


/* Tablet */
@media (max-width: 1439px) {
    .Footer{
        padding: 180px 0 0;
    }
}


/* Mobile */
@media (max-width: 767px) {
    .Footer{
        padding: 60px 0 0;
        gap: calc(var(--gap) * 1);
        & .text-block{
            flex-direction: column;
            justify-content: start;
            gap: var(--gap);

            & .infos-container{
                justify-content: space-between;
            }
        }
    }
  
}