:root {
    --ProjectHeader-logo:140px;
  }

/* Tablet */
@media (max-width: 1439px) {
  :root {
    --ProjectHeader-logo:120px;
  }
}

/* Mobile */
@media (max-width: 767px) {
  :root {
    --ProjectHeader-logo:80px;
  }
}

.ProjectHeader{
    padding: var(--padding);

    & .logo{height: var(--ProjectHeader-logo);}

    & section.screen{
        padding: 7svh 0 var(--padding);
        display: flex; flex-direction: column;
        gap: var(--gap);
        align-items: center; justify-content: space-between;
    }

    & video, img.cover{
        flex: 1; min-height: 0;
        width: 100%;
        border-radius: var(--border);
    }

    & .projectname-container{
        width: 100%;
    }

    & .projectname{
        display: flex; flex-direction: column-reverse;
        padding-bottom: var(--padding);


        & h2{ font-size: var(--txt-body); margin-left: 2px; color: var(--orange);}
        & h1{ line-height: 1;}
    }

}

.ProjectHeader .description{
    width: 100%;
    display: flex;  flex-direction: column;
    gap: var(--gap);
    max-width: var(--max-width);
}


.ProjectHeader .buttons-container{
    display: flex; gap: var(--gap);

    & button{
        background-color: var(--grey);
        color: white;
        padding: 0;

        & a{
            font-size: calc(var(--txt-body)/1.3);
            font-weight: 700;
            width: 100%; height: 100%; 
            border-radius: 50px;
            padding: 8px 16px;
        }
    }

    & button.github{
        background-color: white;
        color: var(--grey);
    }
}




/* Hover */
@media (hover: hover) and (pointer: fine) {
    .ProjectHeader .buttons-container button:hover{
        background-color: var(--orange);
        border-color: var(--orange);
    }
    .ProjectHeader .buttons-container button.github:hover{
        background-color: white;
        color: var(--orange);
    }
}

/* Desktop */
@media (min-width: 1440px){
    .ProjectHeader .buttons-container button a{font-weight: 500;}
}

/* Tablet */
@media (max-width: 1439px) and (min-width: 768px) {
    
}

/* Mobile */
@media (max-width: 767px) {
    .ProjectHeader{
        & .projectname-container{ margin-top: 6svh;}
    }
}