@font-face { font-family: 'Afacad' ;src: url('/public/font/Afacad-VariableFont_wght.ttf');}

*{margin: 0; padding: 0; box-sizing: border-box;}

:root {
  --blue: #008DFF;
  --green: #37C25C;
  --orange: #F14600;
  --grey: #8a8a8a;

  --code-red: #EF2A2D;
  --code-rosa: #FF30B3;
  --code-purple: #8762F2;
  --code-blue: #008DFF;

  --gap:36px;
  --gap-main:120px;
  --width-img-mobile: 25vw;

  --padding: 20px;
  --border:40px;

  --txt-h1: 60px;
  --txt-h2: 40px;
  --txt-body: 28px;

  --max-width: 800px;
}

/* Desktop */
@media (min-width: 1440px) {
  .no-desktop, .only-mobile{display: none!important;}
}

/* Tablet */
@media (max-width: 1439px) and (min-width: 767px) {
  :root {
    --padding: 16px;
    --border: 32px;

    --gap-main:80px;
    --width-img-mobile: 25vw;

    --txt-h1: 48px;
    --txt-h2: 32px;
    --txt-body: 24px;
  }
  .no-tablet, .only-mobile{display: none!important;}
}

/* Mobile */
@media (max-width: 768px) {
  :root {
    --padding: 12px;
    --border: 24px;
    --gap: 20px;
    --gap-main:60px;
    --width-img-mobile: 40vw;

    --txt-h1: 36px;
    --txt-h2: 28px;
    --txt-body: 18px;
    --max-width: 'none';
  }

  .no-mobile{display: none!important;}

}

body{
    background-color: white;
    color: black;
    width: 100vw;

    font-family: 'Afacad';
}

a{text-decoration: none; color: inherit; display: flex; cursor: pointer;}
p{ font-size: var(--txt-body); color: var(--grey); }
h1, h2{ font-size: var(--txt-h1);}
ul{list-style: none;}
img, video{ object-fit: cover;}
button{cursor: pointer;}

h2, h3, h4{font-weight: 300;}
h1{font-weight: 700;}

.project{
  display: flex; flex-direction: column;
  gap: var(--gap-main);
  padding-bottom: 20px;
  width: 100%;
  overflow: hidden;
}

.screen{
  height: 100svh; width: 100%;
}

.text-block, article{
    padding: 0 calc(var(--padding) / 2);
}

.img-project{
  width: 100%;
  padding: 0;
  height: auto;
  display: block;
  margin: 0 auto;
}
.img-project.padding{ padding: 0 var(--padding);}
.img-project.height{ height: 100svh; width: auto; max-width: 100vw;}

.img-mobile {
  display: flex;
  justify-content:space-evenly;

  & img {
    height: auto;
    width: var(--width-img-mobile);
    flex-shrink: 0;
  }
}

.bttn{
  width: fit-content;
  padding: 8px 16px; border-radius: 100px;
  border: 1px solid var(--grey);
  display: block;
}

.hidden {
  display: none;
}
